@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* font */

$baseFont: "Poppins", sans-serif;

/* colors */

$background-color: #84817a;
$white: #f7f1e3;
$blue: #227093;
$yellow: #ffb142;
$yellowHover: #cc8e35;
$red: #ff5252;

$oq1: rgba(0, 0, 0, 0.1);
$oq3: rgba(0, 0, 0, 0.3);
$oq5: rgba(0, 0, 0, 0.5);
$oq8: rgba(0, 0, 0, 0.8);
